
.Kanban {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    position: relative;
    text-align: center;
}

.SkeletonColumn {
    display: inline-block;
    width: 200px;
    margin: 0 0.5rem;
    min-height: 90vh;
}

/* @media (min-width: 1000px) and (min-height: 700px) {
    .Kanban {
        width: 700px;
        height: 600px;
    }
}

@media (min-width: 500px) and (min-height: 401px) {
    .Kanban {
        width: 450px;
        height: 400px;
    }
}
@media (min-width: 500px) and (min-height: 400px) {
    .Kanban {
        width: 350px;
        height: 300px;
    }
} */
