.App {
  text-align: center;
}

.AppLogo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Flex {
  display: flex;
}

.SpaceBetween {
  justify-content: space-between;
}

.FlexStart {
  justify-content: flex-start;
}

.MarginRightSmall {
  margin-right: 2rem;
}

.TextCenter {
  text-align: center;
}
.TextEnd {
  text-align: end;
}

.CardWithShadow {
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}
.CardWithBorders {
  border: 0.5px solid #ccc;
}

/*@keyframes App-logo-spin {*/
/*  from { transform: rotate(0deg); }*/
/*  to { transform: rotate(360deg); }*/
/*}*/
